{% extends 'gestion_stocks/base.html' %} 

{% block content %}
    <h1>Liste des catégories</h1>
    <a href="{% url 'category_create' %}">Ajouter une nouvelle catégorie</a>
    <table border="1">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for category in object_list %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <a href="{% url 'category_update' category.pk %}">Modifier</a> |
                        <a href="{% url 'category_delete' category.pk %}">Supprimer</a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="3">Aucune catégorie trouvée.</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}   