{% extends "gestion_stocks/base.html" %} {% block content %}

<h2>Ajouter un Nouveau Stock</h2>

{% if messages %} {% for message in messages %}
<div class="alert {{ message.tags }}">{{ message }}</div>
{% endfor %} {% endif %}

<form method="post" action="">
  {% csrf_token %}
  <div>
    <label for="product">Produit :</label>
    {{ form.product }}
  </div>
  <div>
    <label for="quantity">Quantité :</label>
    {{ form.quantity }}
  </div>
  <div>
    <label for="last_restock_date">Date de Réapprovisionnement :</label>
    {{ form.last_restock_date }}
  </div>
  <button type="submit">Ajouter le Stock</button>
</form>
{% endblock content %}
