<!DOCTYPE html>
<html>
<head>
    <title>Liste des ventes</title>
</head>
<body>
    <h1>Liste des ventes</h1>
    <a href="{% url 'sale_create' %}">Ajouter une nouvelle vente</a>
    <table border="1">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité vendue</th>
                <th>Date de vente</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for sale in object_list %}
                <tr>
                    <td>{{ sale.product.name }}</td>
                    <td>{{ sale.quantity_sold }}</td>
                    <td>{{ sale.sale_date }}</td>
                    <td>
                        <a href="{% url 'sale_detail' sale.pk %}">Détails</a>
                    </td>
                </tr>
            {% empty %}
                <tr><td colspan="4">Aucune vente trouvée.</td></tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
